/* Global Syles */
img {
    display: block;
    margin: 0 auto;
    width: 100%; 
}

body {
    background-image: url("https://i.pinimg.com/originals/a3/c7/34/a3c7341c13cdcec59676e0a0bdb4f34b.png");
    background-color: #F28DBC;
}

#container { 
    background-color: #fff;
    padding: 30px;
    border: 5px solid black;
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: #F2059F;
    font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;
}
h3 {
    text-align: center;
    color:#F2059F;
    font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;
}
p {
    text-align: center;
        font-family: "Kalam", cursive;
        font-weight: 400;
        font-style: normal;
      
}
ul {
    text-align: center;
    list-style-type: none;
}
li {
    text-align: center;
    text-decoration: none;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}



/* Mobile Styles */

nav {
    background-color:#F2E205;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li{
    display: block;
}

nav li a {
    display: block;
    color: #F2059F;
    text-decoration: none;
    font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;
    background-color: #F2E205;
    margin: 5px o;
    
    
}
nav li a:hover {
    background-color: #F28DBC;
}

a:hover {
    color:#F2E205;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-size: 55px;
    color: #F2E205;
    text-shadow: 2px 2px 10px #F2059F;
    font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;
}

main {
    padding: 10px;
    margin: 10px 0;
}

#screenshot {
    border: 2px solid #F2E205;
    padding: 10px;
}
.ss {
    margin: 3px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button-link {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #F28DBC;
    color:#F2059F;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px;
    font-family: "Kalam", cursive;
        font-weight: 700;
        font-style: normal;

}


 .chara img {
    height: 400px;
    width: auto;
   
 }

 .iframe-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
 }

 .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }


/* Tablet Styles */

@media (min-width: 768px) {
    nav { 
        text-align: center;
    }
    nav li {
        display: inline-block;
    }
    nav li a {
        width: 125px;
        
    }
    #moon {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #mask {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #mercury {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #mars {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #jupiter {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #venus {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #uranus {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #neptune {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #pluto {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #saturn {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     #chibi {
        width: auto;
        text-align: center;
        font-size: 100%;
        padding: 10px;
       display: flex;  
        
     }  
     .chara {
    
        display: block;
        margin: 10px;
        
        
     }
     #references {
        display: flex;
        width: auto;
        padding: 2px;
        align-items: center;
        justify-content: center;
        
    }
    .ref {
        margin: 5px;
        padding: 1px;
    }
    .ref img {
        height: 245px;
        width: 245px;
        border-radius: 10%;
    }
    
    
    
}

/* Desktop Styles */

@media (min-width: 1024px) {

    #container {
        width: 75%;
        margin: 10px auto; 
    }
    #screenshot {
        
        display: flex;
        border: none;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
        
        
        
    }
    .ss img {
        width: 100%;
    
   
   
        
    }
    main img {
        display: block;
        width: 75%;
        margin: 20px auto;
    }
    
   
}









